
* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 400;
}

body {
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 100vh;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    display:flex;
    min-height: 100%;
}

header {
    text-align: center;
    border-bottom: 8px double #f9f9f9;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 3px double #927070;
    border-bottom: 3px double #927070;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

main {
    flex: 1 0 auto;
}

.MethodWrapper li {
    padding: 0.4rem 0;
    list-style-type: lower-roman;
    line-height: 1.4em;
}

@media screen and (min-width: 800px) {
    body {
        border-left: 4px solid #a81919;
        border-right: 4px solid #07737e;
        padding: 1rem 2rem;
        display:flex;
        flex-direction: column;
        min-height: 100%;
    }

    .ToDo {
        font-size: 1.2rem;
        padding: 1rem;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 3px;
        background-color: silver;
        border: 9px solid gold;
    }

    .ToDo h3 {
        margin: 0;
    }

}
